/**
 * App styles
 * 
 * @author Yauheni Svirydzenka <partagas@mail.ru>
 * @version 0.0.1
 * @copyright Yauheni Svirydzenka 2017
 */

.underMenu {
	background-color: #C6E2FF;
}

.alert {
	margin-bottom: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

hr {
	margin-bottom: 5px;
	margin-top: 5px;
}

.my_menu .webix_view{
	background-color: #ECEFF1;
}

.my_menu{
	background-color: #ECEFF1;
}

.my_menu .webix_list_item{
	line-height: 35px;
	border-bottom-color: #ddd;
}

/* Styles for arrow image */
.north {
	-moz-transform: rotate(0deg); /* Firefox */
	-ms-transform: rotate(0deg); /* IE */
	-webkit-transform: rotate(0deg); /* Safari, Chrome, iOS */
	-o-transform: rotate(0deg); /* Opera */
	transform: rotate(0deg);
}

.north-east {
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.east {
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.south-east {
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.south {
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.south-west {
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

.west {
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

.north-west {
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
}
